asn1crypto==1.5.1
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
coincurve==19.0.1
cryptography==42.0.5
idna==3.6
markdown-it-py==3.0.0
mdurl==0.1.2
nostr==0.0.2
paho-mqtt==1.6.0
pyasn1==0.5.1
pycparser==2.21
pyfiglet==1.0.2
Pygments==2.17.2
pynostr==0.6.2
python-dotenv==1.0.1
requests==2.31.0
rich==13.7.1
rsa==4.9
secp256k1==0.14.0
tlv8==0.10.0
tornado==6.4
typer==0.9.0
typing_extensions==4.10.0
urllib3==2.2.1
websocket-client==1.7.0
